@use "../others/colors.scss" as colors;
@use "../others/btnStyle.scss" as btn;

.landing-page-first-component {
    margin: 5px auto;

    // display: fle;
    h1 {
        color: colors.$purple;
        text-align: center;
        margin-bottom: 5px;

        span {
            display: block;
        }

        @media (max-width:760px) {
            font-size: .8em;
        }
    }

    .explore-btn {
        @include btn.btnStyle() {
            margin: 20px auto 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 150px;
        }
    }
}