@use "./sliding-gallery-component.scss";
@use "../others/colors.scss" as colors;
@use "../others/btnStyle.scss" as btn;

.each-style-info {
    margin: 5px auto;
    width: 97%;


    .info {
        margin: 5px 0;

        h3 {
            color: colors.$purple;
            margin: 5px 0;
        }

        .categories {
            text-transform: capitalize;
            font-size: .9em;
        }

        .description {
            margin: 5px 0;
            font-size: .8em;
        }
    }

    .btn-holder {
        display: flex;
        justify-content: space-around;

        .btn {
            @include btn.btnStyle() {
                justify-content: space-between;
                display: flex;
                align-items: center;
            }

            ;

            &:nth-child(1) {
                background-color: colors.$green;
            }
            .icon {
                margin-right: 5px;
            }

            &:hover {
                transform: scale(1.04);
                cursor: pointer;
            }
        }
    }
}