$purple: #5805CE;
$black: #000000;
$white: white;
$green: rgb(47, 141, 47);
$off-white: #EFEFEF;
$lin-grad: linear-gradient(to left, $purple 50%, $black 50%);
$overlay:#c5b8b89c;
// $green: rgb(60, 126, 60)