@use "./colors.scss" as colors;

.footer-component {
    background-color: colors.$purple;
    margin-top: 5px;
    height: 95px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
        width: 130px;
        margin: 0;
        // background-color: red;
        height: 30px;
    }

    p {
        // margin:5px 0;
        height: 20px;
        font-size: .9em;
        color: colors.$white;
        // background-color: red;
        @media (max-width:760px) {
            font-size: .7em;
        }
    }

    .icons-holder {
        // margin: 10px 0;
        // 
        height: 30px;
        display: flex;
        justify-content: space-between;
        width: 60px;
        padding: 5px;
        // background-color: red;
        .icon {
            display: block;
            transform: scale(1.5);
            color: colors.$white;

            &:hover {
                transform: scale(1.7);
            }
        }
    }
}