@use "./colors.scss" as colors;

.navigation-component {
    display: flex;
    // background-color: red;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;

    .logo-holder {
        width: 25%;
        margin-left: 2%;
        height: 30px;
        display: block;
        // transform: scale(.5);
        .logo {
            width: 130px;

            height: 30px;

            &:hover {
                filter: grayscale(1);
            }
        }
    }

    .nav-link-holder {
        display: flex;
        flex: 1 1 auto;
        height: 100%;
        margin-left: 2%;
        align-items: center;
        justify-content: space-around;

        // background-color: blueviolet;
        .each-nav-link {
            text-decoration: none;
            color: colors.$purple;
            font-size: .8em;

            &.active,
            &:hover {
                font-weight: 800;
                transform: scale(1.02);
                color: colors.$black;
            }
        }

        @media (max-width:760px) {
            z-index: 9999;
            top: 50px;
            height: 70vh;
            position: fixed;
            flex-direction: column;
            width: 100%;
            margin-left: 0;
            background-color: #EFEFEF;

            border-bottom: 2px solid colors.$purple;
            // border-top: 2px solid colors.$purple;

            &.hide {
                top: -100%;
            }
        }
    }

    .nav-btn {
        margin-right: 3%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: none;

        .icon {
            transform: scale(1.5);
            font-weight: 800;
            color: colors.$purple;

            &:hover {
                transform: scale(2);
                color: colors.$black;
            }
        }

        @media (max-width:760px) {
            display: block;
        }
    }
}